*
{
  margin: 0;
  padding: 0;
    font-family: 'Lato', sans-serif;
}
.nav-item{
  color: white !important;
  font-size: 120%;
    display: inline-block;
}
.main_container
{
  padding: 1%;
  background-color: #fff;
}
.main_container h1
{
  color: #009879;
}
.main_container p, .main_container ul
{
  font-size: 1.25rem;
}

hr {
  border: none;
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(0,0,0,.08);
  margin: 2.5em 0;
  position: relative;
}
hr:before,hr:after {
  content: '';
  position: absolute;
  bottom:0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 70%);
  z-index:0;
}
hr:after {
  top:0px;
  bottom:auto;
  height: 1.5em;
  background: radial-gradient(ellipse at top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 70%);
}
hr:before,hr:after {
  content: '';
  position: absolute;
  bottom:0px;
  height: 5em;
  width: 100%;
  background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 70%);
  z-index:0;
}
hr:after {
  top:0px;
  bottom:auto;
  height: 1.5em;
  background: radial-gradient(ellipse at top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 70%);
}

@media (min-width : 1281px) {
  .sastra_about
  {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 2%;

  }
  .aboutsom
  {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap:  2%;
  }
  .aboutevent
  {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 2%
  }
  .main_container p, .main_container ul
  {
    font-size: 1.25rem;
  }

}

.main_footer
{
background-color:#282d32;
color:#f0f9ff;
}

.main_footer ul
{

  list-style-type: none;

}
.about
{
padding: 10%;

}
.about h1,p
{
  font-size: .7rem;
}
.grid_
{
  display: grid;
  grid-template-columns: 31fr 1fr;
  grid-gap: 0%;

}
.contact
{
  text-align: center;
  font-size: 1rem;
}
td{
  padding: 10px;
  border: 1px solid black;
       border-collapse: collapse;
}
 @media (min-width: 1280px) {
   .grid_
   {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 40%;
     height: 30%;
   }

   .about h1,p
   {
     font-size: 1rem;
   }
   .about
   {
     padding-left: 2%;
     padding-top: 2%;

   }

 }
 .made
 {
   text-align: center;
 }

 #lab_social_icon_footer {
  padding: 20px 0;
  font-size: 16px;
  opacity: 0.75;
  text-align: center;

}

#lab_social_icon_footer a {
  color: white;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
